<div>
  <h2 style="text-align: center; color: #1b89bc">Relax! We Got You Covered!</h2>
</div>
<div>
  <img src="./images/homepage.jpg" class="img-fluid" alt="Carton photo" style="width: 100%; height: 50%" />
</div>