<div>
  <h4 style="text-align: center; color: #343a40; font-weight: bold;">Why look for Contractors? Let them come to you!<span style="font-size: 17px;">™️</span> </h4>
</div>
<div>
  <img src="./images/homepage.jpg" class="img-fluid" alt="Carton photo" style="width: 100%; height: 50%" />

</div>
<br>
<div>
<<<<<<< HEAD
  <p style="text-align:justify" id="paragraph">Don't waste precious time searching for the right person for the job!
    Simply create an account, describe your
    project, the budget you are working with and submit it to our job board! </p>
=======
  <p style="text-align:justify" id="paragraph">Don't waste precious time searching for the right person for the job! Simply create an account, describe your
    project, the budget you are working with and submit it to our job board!  
    Or, are you a Contractor looking for work?  Allow us to simplify the process for you. </p>
>>>>>>> 119818aa7b85e20654524c4be3129c09e312bb02
</div>
<br><br>