<div>
  <h2 style="text-align: center; color: #1b89bc">Why look for a Contractor? Let them come to you!</h2>
</div>
<div>
  <img src="./images/homepage.jpg" class="img-fluid" alt="Carton photo" style="width: 100%; height: 50%" />

</div>
<br>
<br>
<div>
  <p>Don't waste precious time searching for the right person for the job! Simply create an account, describe your
    project, the budget you are working with and submit it to our job board!</p>
</div>